# used to remove files from deployment using `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore
.mailmap export-ignore

# Tell git to not diff certain files
*.svg -diff

# Tell linguist that generated test pattern files should not be included in the
# language statistics.
*.pat linguist-generated
*.svg linguist-generated

# Tmo excluded files from nightly "theirs" auto-merge. If the file is below, the file
# will never be auto-merged into from main. If the file doesn't exist here, then
# any upstream changes will override ours.
.gitattributes merge=ours
.github/ISSUE_TEMPLATE/001_bug_report.md
.github/ISSUE_TEMPLATE/002_enhancement.md
.github/ISSUE_TEMPLATE/003_rfc-proposal.md
.github/ISSUE_TEMPLATE/004_feature_request.md
.github/ISSUE_TEMPLATE/005_hardware_support.md
.github/ISSUE_TEMPLATE/006_nomination.md
.github/ISSUE_TEMPLATE/007_ext-source.md
.github/ISSUE_TEMPLATE/008_bin-blobs.md
.github/workflows/assigner.yml merge=ours
.github/workflows/backport.yml merge=ours
.github/workflows/backport_issue_check.yml merge=ours
.github/workflows/blackbox_tests.yml merge=ours
.github/workflows/bluetooth-tests-publish.yaml merge=ours
.github/workflows/bluetooth-tests.yaml merge=ours
.github/workflows/bsim-tests-publish.yaml merge=ours
.github/workflows/bsim-tests.yaml merge=ours
.github/workflows/bug_snapshot.yaml merge=ours
.github/workflows/clang.yaml merge=ours
.github/workflows/codecov.yaml merge=ours
.github/workflows/coding_guidelines.yml merge=ours
.github/workflows/compliance.yml merge=ours
.github/workflows/conflict.yml merge=ours
.github/workflows/daily_test_version.yml merge=ours
.github/workflows/devicetree_checks.yml merge=ours
.github/workflows/do_not_merge.yml merge=ours
.github/workflows/doc-build.yml merge=ours
.github/workflows/doc-publish-pr.yml merge=ours
.github/workflows/doc-publish.yml merge=ours
.github/workflows/errno.yml merge=ours
.github/workflows/footprint-tracking.yml merge=ours
.github/workflows/footprint.yml merge=ours
.github/workflows/greet_first_time_contributor.yml merge=ours
.github/workflows/issue_count.yml merge=ours
.github/workflows/issues-report-config.json merge=ours
.github/workflows/license_check.yml merge=ours
.github/workflows/manifest.yml merge=ours
.github/workflows/mirror.yml merge=ours
.github/workflows/release.yml merge=ours
.github/workflows/scripts_tests.yml merge=ours
.github/workflows/stale-workflow-queue-cleanup.yml merge=ours
.github/workflows/stale_issue.yml merge=ours
.github/workflows/tmo-mirror.yml merge=ours
.github/workflows/tmo-nightly-merge-main-tmo-main.yml merge=ours
.github/workflows/tmo-nightly-upstream-mirror-main.yml merge=ours
.github/workflows/tmo-nightly-upstream-mirror.yml merge=ours
.github/workflows/tmo-upstream-mirror.yml merge=ours
.github/workflows/twister.yaml merge=ours
.github/workflows/twister_tests.yml merge=ours
.github/workflows/west_cmds.yml merge=ours
CODEOWNERS merge=ours
README.md merge=ours
README.rst merge=ours
Trademark_License.md merge=ours
VERSION merge=ours
boards/arm/tmo_dev_edge/CMakeLists.txt merge=ours
boards/arm/tmo_dev_edge/Kconfig.board merge=ours
boards/arm/tmo_dev_edge/Kconfig.defconfig merge=ours
boards/arm/tmo_dev_edge/board.c merge=ours
boards/arm/tmo_dev_edge/board.cmake merge=ours
boards/arm/tmo_dev_edge/board.h merge=ours
boards/arm/tmo_dev_edge/doc/index.rst merge=ours
boards/arm/tmo_dev_edge/doc/img/tmo_dev_edge.jpg merge=ours
boards/arm/tmo_dev_edge/pre_dt_board.cmake merge=ours
boards/arm/tmo_dev_edge/tmo_dev_edge-map.yml merge=ours
boards/arm/tmo_dev_edge/tmo_dev_edge-pinctrl.dtsi merge=ours
boards/arm/tmo_dev_edge/tmo_dev_edge-testplan.json merge=ours
boards/arm/tmo_dev_edge/tmo_dev_edge.dts merge=ours
boards/arm/tmo_dev_edge/tmo_dev_edge.yaml merge=ours
boards/arm/tmo_dev_edge/tmo_dev_edge_defconfig merge=ours
drivers/bluetooth/CMakeLists.txt merge=ours
drivers/bluetooth/Kconfig merge=ours
drivers/bluetooth/custom/CMakeLists.txt merge=ours
drivers/bluetooth/custom/Kconfig merge=ours
drivers/bluetooth/custom/rs9116w/CMakeLists.txt merge=ours
drivers/bluetooth/custom/rs9116w/Kconfig.rs9116w merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_conn.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_conn.h merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_core.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_core.h merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_gap.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_gap.h merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_gatt.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_keys.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_keys.h merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_shell.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_smp.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_smp.h merge=ours
drivers/counter/Kconfig.gecko merge=ours
drivers/counter/counter_gecko_rtcc.c merge=ours
drivers/flash/spi_nor.c merge=ours
drivers/fuel_gauge/CMakeLists.txt merge=ours
drivers/fuel_gauge/Kconfig merge=ours
drivers/fuel_gauge/act81461/Kconfig merge=ours
drivers/fuel_gauge/act81461/act81461.c merge=ours
drivers/fuel_gauge/act81461/act81461.h merge=ours
drivers/fuel_gauge/act81461/CMakeLists.txt merge=ours
drivers/i2c/Kconfig merge=ours
drivers/i2c/Kconfig.gecko merge=ours
drivers/i2c/i2c_gecko.c merge=ours
drivers/modem/CMakeLists.txt merge=ours
drivers/modem/Kconfig merge=ours
drivers/modem/Kconfig.murata-1sc merge=ours
drivers/modem/Kconfig.sms merge=ours
drivers/modem/modem_context.h merge=ours
drivers/modem/modem_shell.c merge=ours
drivers/modem/modem_sms.c merge=ours
drivers/modem/modem_sms.h merge=ours
drivers/modem/modem_socket.c merge=ours
drivers/modem/modem_socket.h merge=ours
drivers/modem/murata-1sc.c merge=ours
drivers/modem/murata-1sc.h merge=ours
drivers/pinctrl/pinctrl_gecko.c merge=ours
drivers/power_domain/CMakeLists.txt merge=ours
drivers/power_domain/Kconfig merge=ours
drivers/power_domain/power_domain_gpio.c merge=ours
drivers/power_domain/power_domain_regulator.c merge=ours
drivers/regulator/CMakeLists.txt merge=ours
drivers/regulator/Kconfig merge=ours
drivers/regulator/Kconfig.act81461 merge=ours
drivers/regulator/regulator_act81461.c merge=ours
drivers/regulator/regulator_act81461.h merge=ours
drivers/sensor/CMakeLists.txt merge=ours
drivers/sensor/Kconfig merge=ours
drivers/sensor/cxd5605/CMakeLists.txt merge=ours
drivers/sensor/cxd5605/Kconfig merge=ours
drivers/sensor/cxd5605/cxd5605.c merge=ours
drivers/sensor/cxd5605/cxd5605.h merge=ours
drivers/sensor/lis2dw12/Kconfig merge=ours
drivers/sensor/lis2dw12/lis2dw12.c merge=ours
drivers/sensor/lis2dw12/lis2dw12.h merge=ours
drivers/sensor/lis2dw12/lis2dw12_trigger.c merge=ours
drivers/sensor/sx9328/CMakeLists.txt merge=ours
drivers/sensor/sx9328/Kconfig merge=ours
drivers/sensor/sx9328/sx9328.c merge=ours
drivers/sensor/sx9328/sx9328.h merge=ours
drivers/sensor/sx9328/sx9328_trigger.c merge=ours
drivers/sensor/tmp108/Kconfig merge=ours
drivers/sensor/tmp108/tmp108.c merge=ours
drivers/sensor/tmp108/tmp108.h merge=ours
drivers/sensor/tmp108/tmp108_trigger.c merge=ours
drivers/serial/Kconfig.gecko merge=ours
drivers/serial/leuart_gecko.c merge=ours
drivers/spi/spi_gecko.c merge=ours
drivers/timer/CMakeLists.txt merge=ours
drivers/timer/Kconfig merge=ours
drivers/timer/Kconfig.gecko_letimer merge=ours
drivers/timer/gecko_letimer.c merge=ours
drivers/wifi/CMakeLists.txt merge=ours
drivers/wifi/Kconfig merge=ours
drivers/wifi/rs9116w/CMakeLists.txt merge=ours
drivers/wifi/rs9116w/Kconfig.rs9116w merge=ours
drivers/wifi/rs9116w/rs9116w.h merge=ours
drivers/wifi/rs9116w/rs9116w_mgmt.c merge=ours
drivers/wifi/rs9116w/rs9116w_socket.c merge=ours
drivers/wifi/rs9116w/rs9116w_socket_offload.c merge=ours
dts/arm/silabs/efm32_jg_pg_12b.dtsi merge=ours
dts/arm/silabs/efm32_pg_1b.dtsi merge=ours
dts/arm/silabs/efm32pg12b.dtsi merge=ours
dts/bindings/fuel-gauge/qorvo,act81461_alpc.yaml merge=ours
dts/bindings/modem/murata,1sc.yaml merge=ours
dts/bindings/power-domain/power-domain-gpio.yaml merge=ours
dts/bindings/power-domain/power-domain-regulator.yaml merge=ours
dts/bindings/regulator/qorvo,act81461.yaml merge=ours
dts/bindings/rtc/silabs,gecko-stimer.yaml merge=ours
dts/bindings/sensor/ams,as6212.yaml merge=ours
dts/bindings/sensor/sony,cxd5605.yaml merge=ours
dts/bindings/sensor/st,lis2dw12-common.yaml merge=ours
dts/bindings/sensor/ti,tmp108.yaml merge=ours
dts/bindings/serial/silabs,gecko-leuart.yaml merge=ours
dts/bindings/timer/silabs,gecko-letimer.yaml merge=ours
dts/bindings/wifi/silabs,rs9116w.yaml merge=ours
include/zephyr/drivers/bluetooth/rs9116w.h merge=ours
include/zephyr/drivers/fuel_gauge.h merge=ours
include/zephyr/drivers/fuel_gauge/act81461.h merge=ours
include/zephyr/drivers/modem/murata-1sc.h merge=ours
include/zephyr/drivers/modem/sms.h merge=ours
include/zephyr/drivers/regulator/act8161.h merge=ours
include/zephyr/drivers/sensor/cxd5605.h merge=ours
include/zephyr/drivers/sensor/gnss.h merge=ours
include/zephyr/drivers/sensor/lis2dw12.h merge=ours
include/zephyr/drivers/sensor/sx9328.h merge=ours
include/zephyr/drivers/sensor/tmp108.h merge=ours
include/zephyr/dt-bindings/pinctrl/gecko-pinctrl.h merge=ours
include/zephyr/net/http/client.h merge=ours
include/zephyr/net/net_if.h merge=ours
include/zephyr/net/ping.h merge=ours
include/zephyr/net/wifi_mgmt.h merge=ours
lib/posix/uname.c merge=ours
samples/bluetooth/peripheral_hr/boards/tmo_dev_edge.conf merge=ours
samples/bluetooth/peripheral_ht/boards/tmo_dev_edge.conf merge=ours
samples/drivers/counter/gecko_rtcc/CMakeLists.txt merge=ours
samples/drivers/counter/gecko_rtcc/Kconfig merge=ours
samples/drivers/counter/gecko_rtcc/README.rst merge=ours
samples/drivers/counter/gecko_rtcc/prj.conf merge=ours
samples/drivers/counter/gecko_rtcc/sample.yaml merge=ours
samples/drivers/counter/gecko_rtcc/src/main.c merge=ours
samples/modules/nanopb/sample.yaml merge=ours
samples/net/mqtt_publisher/overlay-1sc.conf merge=ours
samples/net/sockets/echo_client/src/echo-client.c merge=ours
samples/sensor/cxd5605_hot/CMakeLists.txt merge=ours
samples/sensor/cxd5605_hot/README.rst merge=ours
samples/sensor/cxd5605_hot/prj.conf merge=ours
samples/sensor/cxd5605_hot/src/main.c merge=ours
samples/sensor/cxd5605_hot/uart.yaml merge=ours
samples/sensor/tmp108/src/main.c merge=ours
samples/subsys/nvs/sample.yaml merge=ours
samples/subsys/shell/fs/boards/tmo_dev_edge.conf merge=ours
samples/subsys/shell/shell_module/boards/tmo_dev_edge.conf merge=ours
samples/subsys/task_wdt/sample.yaml merge=ours
soc/arm/silabs_exx32/Kconfig merge=ours
soc/arm/silabs_exx32/common/CMakeLists.txt merge=ours
soc/arm/silabs_exx32/common/soc_power.c merge=ours
subsys/net/l2/wifi/wifi_mgmt.c merge=ours
subsys/net/lib/CMakeLists.txt merge=ours
subsys/net/lib/Kconfig merge=ours
subsys/net/lib/http/http_client.c merge=ours
subsys/net/lib/ping/CMakeLists.txt merge=ours
subsys/net/lib/ping/Kconfig merge=ours
subsys/net/lib/ping/ping.c merge=ours
subsys/shell/modules/date_service.c merge=ours
subsys/shell/shell_help.c merge=ours
west.yml merge=ours
