# used to remove files from deployment using `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore
.mailmap export-ignore

# Tell git to not diff certain files
*.svg -diff

# Tell linguist that generated test pattern files should not be included in the
# language statistics.
*.pat linguist-generated
*.svg linguist-generated

# Tmo excluded files from nightly "theirs" auto-merge. If the file is below, the file
# will never be auto-merged into from main. If the file doesn't exist here, then
# any upstream changes will override ours.
.gitattributes merge=ours
.github/workflows/assigner.yml merge=ours
.github/workflows/backport.yml merge=ours
.github/workflows/bluetooth-tests-publish.yaml merge=ours
.github/workflows/bluetooth-tests.yaml merge=ours
.github/workflows/bug_snapshot.yaml merge=ours
.github/workflows/clang.yaml merge=ours
.github/workflows/codecov.yaml merge=ours
.github/workflows/coding_guidelines.yml merge=ours
.github/workflows/compliance.yml merge=ours
.github/workflows/conflict.yml merge=ours
.github/workflows/daily_test_version.yml merge=ours
.github/workflows/do_not_merge.yml merge=ours
.github/workflows/doc-build.yml merge=ours
.github/workflows/doc-publish-pr.yml merge=ours
.github/workflows/doc-publish.yml merge=ours
.github/workflows/errno.yml merge=ours
.github/workflows/footprint-tracking.yml merge=ours
.github/workflows/footprint.yml merge=ours
.github/workflows/issue_count.yml merge=ours
.github/workflows/license_check.yml merge=ours
.github/workflows/manifest.yml merge=ours
.github/workflows/release.yml merge=ours
.github/workflows/stale_issue.yml merge=ours
.github/workflows/tmo-nightly-merge-main-tmo-main.yml merge=ours
.github/workflows/tmo-nightly-upstream-mirror-main.yml merge=ours
.github/workflows/tmo-nightly-upstream-mirror.yml merge=ours
.github/workflows/tmo-upstream-mirror.yml merge=ours
.github/workflows/twister.yaml merge=ours
CODEOWNERS merge=ours
README.md merge=ours
README.rst merge=ours
Trademark_License.md merge=ours
boards/arm/efm32pg_stk3402a/Kconfig.defconfig merge=ours
boards/arm/efm32pg_stk3402a/board.c merge=ours
boards/arm/efm32pg_stk3402a/board.h merge=ours
boards/arm/efm32pg_stk3402a/doc/efm32pg_stk3402a_harness.jpg merge=ours
boards/arm/efm32pg_stk3402a/doc/index.rst merge=ours
boards/arm/efm32pg_stk3402a/dts/arm/silabs/efm32pg_stk3402a-pinctrl.dtsi merge=ours
boards/arm/efm32pg_stk3402a/dts/bindings/silabs,gecko-wake-up-triggers.yaml merge=ours
boards/arm/efm32pg_stk3402a/efm32pg_stk3402a.yaml merge=ours
boards/arm/efm32pg_stk3402a/efm32pg_stk3402a_common.dtsi merge=ours
boards/arm/efm32pg_stk3402a/efm32pg_stk3402a_defconfig merge=ours
boards/arm/efm32pg_stk3402a/pre_dt_board.cmake merge=ours
boards/arm/efr32bg_sltb010a/CMakeLists.txt merge=ours
boards/arm/efr32bg_sltb010a/Kconfig merge=ours
boards/arm/efr32bg_sltb010a/Kconfig.board merge=ours
boards/arm/efr32bg_sltb010a/Kconfig.defconfig merge=ours
boards/arm/efr32bg_sltb010a/board.c merge=ours
boards/arm/efr32bg_sltb010a/board.cmake merge=ours
boards/arm/efr32bg_sltb010a/doc/efr32bg_sltb010a.jpg merge=ours
boards/arm/efr32bg_sltb010a/doc/index.rst merge=ours
boards/arm/efr32bg_sltb010a/dts/bindings/silabs,gecko-wake-up-triggers.yaml merge=ours
boards/arm/efr32bg_sltb010a/efr32bg_sltb010a.dts merge=ours
boards/arm/efr32bg_sltb010a/efr32bg_sltb010a.yaml merge=ours
boards/arm/efr32bg_sltb010a/efr32bg_sltb010a_defconfig merge=ours
boards/arm/efr32bg_sltb010a/pre_dt_board.cmake merge=ours
boards/arm/tmo_dev_edge/Kconfig.defconfig merge=ours
boards/arm/tmo_dev_edge/board.c merge=ours
boards/arm/tmo_dev_edge/board.h merge=ours
boards/arm/tmo_dev_edge/tmo_dev_edge.dts merge=ours
boards/arm/tmo_dev_edge/tmo_dev_edge_defconfig merge=ours
doc/services/storage/flash_img/flash_img.rst merge=ours
drivers/adc/Kconfig merge=ours
drivers/adc/Kconfig.gecko merge=ours
drivers/bluetooth/CMakeLists.txt merge=ours
drivers/bluetooth/Kconfig merge=ours
drivers/bluetooth/custom/CMakeLists.txt merge=ours
drivers/bluetooth/custom/Kconfig merge=ours
drivers/bluetooth/custom/rs9116w/CMakeLists.txt merge=ours
drivers/bluetooth/custom/rs9116w/Kconfig.rs9116w merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_conn.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_conn.h merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_core.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_core.h merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_gap.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_gap.h merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_gatt.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_keys.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_keys.h merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_shell.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_smp.c merge=ours
drivers/bluetooth/custom/rs9116w/rs9116w_ble_smp.h merge=ours
drivers/counter/CMakeLists.txt merge=ours
drivers/counter/Kconfig.gecko merge=ours
drivers/counter/counter_gecko_rtcc.c merge=ours
drivers/counter/counter_gecko_stimer.c merge=ours
drivers/counter/gecko_rtcc.c merge=ours
drivers/ethernet/Kconfig merge=ours
drivers/ethernet/eth_gecko.c merge=ours
drivers/flash/spi_nor.c merge=ours
drivers/gpio/CMakeLists.txt merge=ours
drivers/gpio/Kconfig merge=ours
drivers/gpio/gpio_gecko.c merge=ours
drivers/hwinfo/Kconfig merge=ours
drivers/hwinfo/hwinfo_gecko.c merge=ours
drivers/i2c/Kconfig merge=ours
drivers/i2c/Kconfig.gecko merge=ours
drivers/i2c/i2c_gecko.c merge=ours
drivers/modem/CMakeLists.txt merge=ours
drivers/modem/Kconfig merge=ours
drivers/modem/Kconfig.murata-1sc merge=ours
drivers/modem/modem_context.h merge=ours
drivers/modem/modem_shell.c merge=ours
drivers/modem/modem_sms.h merge=ours
drivers/modem/modem_socket.c merge=ours
drivers/modem/modem_socket.h merge=ours
drivers/modem/murata-1sc.c merge=ours
drivers/pinctrl/CMakeLists.txt merge=ours
drivers/pinctrl/Kconfig merge=ours
drivers/pinctrl/Kconfig.gecko merge=ours
drivers/pinctrl/pinctrl_gecko.c merge=ours
drivers/sensor/CMakeLists.txt merge=ours
drivers/sensor/Kconfig merge=ours
drivers/sensor/cxd5605/CMakeLists.txt merge=ours
drivers/sensor/cxd5605/Kconfig merge=ours
drivers/sensor/cxd5605/cxd5605.c merge=ours
drivers/sensor/cxd5605/cxd5605.h merge=ours
drivers/sensor/lis2dw12/lis2dw12.c merge=ours
drivers/sensor/lis2dw12/lis2dw12.h merge=ours
drivers/sensor/lis2dw12/lis2dw12_trigger.c merge=ours
drivers/sensor/tmp108/Kconfig merge=ours
drivers/sensor/tmp108/tmp108.c merge=ours
drivers/sensor/tmp108/tmp108.h merge=ours
drivers/sensor/tmp108/tmp108_trigger.c merge=ours
drivers/sensor/tsl2540/CMakeLists.txt merge=ours
drivers/sensor/tsl2540/Kconfig merge=ours
drivers/sensor/tsl2540/tsl2540.c merge=ours
drivers/sensor/tsl2540/tsl2540.h merge=ours
drivers/sensor/tsl2540/tsl2540_trigger.c merge=ours
drivers/serial/Kconfig.gecko merge=ours
drivers/serial/leuart_gecko.c merge=ours
drivers/serial/uart_gecko.c merge=ours
drivers/serial/uart_s32_linflexd.c merge=ours
drivers/serial/uart_s32_linflexd.h merge=ours
drivers/spi/spi_gecko.c merge=ours
drivers/watchdog/CMakeLists.txt merge=ours
drivers/watchdog/Kconfig merge=ours
drivers/watchdog/wdt_gecko.c merge=ours
drivers/watchdog/wdt_iwdg_stm32.c merge=ours
drivers/watchdog/wdt_iwdg_stm32.h merge=ours
drivers/watchdog/wdt_rpi_pico.c merge=ours
drivers/wifi/CMakeLists.txt merge=ours
drivers/wifi/Kconfig merge=ours
drivers/wifi/rs9116w/CMakeLists.txt merge=ours
drivers/wifi/rs9116w/Kconfig.rs9116w merge=ours
drivers/wifi/rs9116w/rs9116w.h merge=ours
drivers/wifi/rs9116w/rs9116w_mgmt.c merge=ours
drivers/wifi/rs9116w/rs9116w_socket.c merge=ours
drivers/wifi/rs9116w/rs9116w_socket_offload.c merge=ours
dts/arm/silabs/efm32_jg_pg_12b.dtsi merge=ours
dts/arm/silabs/efm32_pg_1b.dtsi merge=ours
dts/arm/silabs/efm32gg11b.dtsi merge=ours
dts/arm/silabs/efm32hg.dtsi merge=ours
dts/arm/silabs/efm32pg12b.dtsi merge=ours
dts/arm/silabs/efm32wg.dtsi merge=ours
dts/arm/silabs/efr32bg22-pinctrl.dtsi merge=ours
dts/arm/silabs/efr32bg22.dtsi merge=ours
dts/arm/silabs/efr32bg22c224f512im40.dtsi merge=ours
dts/arm/silabs/efr32fg1p.dtsi merge=ours
dts/arm/silabs/efr32mg.dtsi merge=ours
dts/arm/silabs/efr32mg21.dtsi merge=ours
dts/arm/silabs/efr32mg21a020f1024im32.dtsi merge=ours
dts/arm/silabs/efr32xg13p.dtsi merge=ours
dts/bindings/gpio/silabs,gecko-gpio-port.yaml merge=ours
dts/bindings/hwinfo/silabs,gecko-hwinfo.yaml merge=ours
dts/bindings/modem/murata,1sc.yaml merge=ours
dts/bindings/pinctrl/silabs,gecko-pinctrl.yaml merge=ours
dts/bindings/rtc/silabs,gecko-stimer.yaml merge=ours
dts/bindings/sensor/ams,as6212.yaml merge=ours
dts/bindings/sensor/ams,tsl2540.yaml merge=ours
dts/bindings/sensor/sony,cxd5605.yaml merge=ours
dts/bindings/sensor/st,lis2dw12-common.yaml merge=ours
dts/bindings/sensor/ti,tmp108.yaml merge=ours
dts/bindings/serial/silabs,gecko-leuart.yaml merge=ours
dts/bindings/serial/silabs,gecko-uart.yaml merge=ours
dts/bindings/serial/silabs,gecko-usart.yaml merge=ours
dts/bindings/wifi/silabs,rs9116w.yaml merge=ours
include/drivers/sensor/tsl2540.h merge=ours
include/zephyr/drivers/bluetooth/rs9116w.h merge=ours
include/zephyr/drivers/modem/murata-1sc.h merge=ours
include/zephyr/drivers/rtc/gecko_rtcc.h merge=ours
include/zephyr/drivers/sensor.h merge=ours
include/zephyr/drivers/sensor/cxd5605.h merge=ours
include/zephyr/drivers/sensor/gnss.h merge=ours
include/zephyr/drivers/sensor/lis2dw12.h merge=ours
include/zephyr/drivers/sensor/tmp108.h merge=ours
include/zephyr/drivers/sensor/tsl2540.h merge=ours
include/zephyr/dt-bindings/pinctrl/gecko-pinctrl.h merge=ours
include/zephyr/net/net_if.h merge=ours
include/zephyr/net/ping.h merge=ours
include/zephyr/net/wifi_mgmt.h merge=ours
samples/bluetooth/peripheral_hr/boards/tmo_dev_edge.conf merge=ours
samples/bluetooth/peripheral_ht/boards/tmo_dev_edge.conf merge=ours
samples/boards/qomu/src/main.c merge=ours
samples/drivers/counter/alarm/src/main.c merge=ours
samples/drivers/counter/gecko_rtcc/CMakeLists.txt merge=ours
samples/drivers/counter/gecko_rtcc/Kconfig merge=ours
samples/drivers/counter/gecko_rtcc/README.rst merge=ours
samples/drivers/counter/gecko_rtcc/prj.conf merge=ours
samples/drivers/counter/gecko_rtcc/sample.yaml merge=ours
samples/drivers/counter/gecko_rtcc/src/main.c merge=ours
samples/net/mqtt_publisher/overlay-1sc.conf merge=ours
samples/net/sockets/echo_client/src/echo-client.c merge=ours
samples/sensor/cxd5605_hot/CMakeLists.txt merge=ours
samples/sensor/cxd5605_hot/README.rst merge=ours
samples/sensor/cxd5605_hot/prj.conf merge=ours
samples/sensor/cxd5605_hot/src/main.c merge=ours
samples/sensor/cxd5605_hot/uart.yaml merge=ours
samples/sensor/tmp108/src/main.c merge=ours
samples/subsys/shell/fs/boards/tmo_dev_edge.conf merge=ours
scripts/build/file2hex.py merge=ours
scripts/build/gen_app_partitions.py merge=ours
scripts/build/gen_cfb_font_header.py merge=ours
scripts/build/gen_handles.py merge=ours
scripts/build/gen_image_info.py merge=ours
scripts/build/gen_isr_tables.py merge=ours
scripts/build/gen_kobject_list.py merge=ours
scripts/build/gen_kobject_placeholders.py merge=ours
scripts/build/gen_offset_header.py merge=ours
scripts/build/gen_relocate_app.py merge=ours
scripts/build/gen_strerror_table.py merge=ours
scripts/build/gen_syscalls.py merge=ours
scripts/build/mergehex.py merge=ours
scripts/build/parse_syscalls.py merge=ours
scripts/build/process_gperf.py merge=ours
scripts/build/subfolder_list.py merge=ours
scripts/build/uf2conv.py merge=ours
scripts/ci/check_compliance.py merge=ours
scripts/ci/guideline_check.py merge=ours
scripts/ci/pylintrc merge=ours
scripts/ci/test_plan.py merge=ours
scripts/ci/upload_test_results.py merge=ours
scripts/ci/version_mgr.py merge=ours
scripts/coredump/coredump_gdbserver.py merge=ours
scripts/coredump/coredump_serial_log_parser.py merge=ours
scripts/dts/gen_defines.py merge=ours
scripts/dts/gen_driver_kconfig_dts.py merge=ours
scripts/dts/gen_dts_cmake.py merge=ours
scripts/dts/python-devicetree/src/devicetree/edtlib.py merge=ours
scripts/dump_bugs_pickle.py merge=ours
scripts/footprint/compare_footprint merge=ours
scripts/footprint/fpdiff.py merge=ours
scripts/footprint/size_report merge=ours
scripts/footprint/track.py merge=ours
scripts/footprint/upload_data.py merge=ours
scripts/gen_gcov_files.py merge=ours
scripts/generate_usb_vif/generate_vif.py merge=ours
scripts/get_maintainer.py merge=ours
scripts/kconfig/kconfig.py merge=ours
scripts/kconfig/kconfigfunctions.py merge=ours
scripts/kconfig/kconfiglib.py merge=ours
scripts/kconfig/lint.py merge=ours
scripts/list_boards.py merge=ours
scripts/logging/dictionary/database_gen.py merge=ours
scripts/logging/dictionary/log_parser.py merge=ours
scripts/make_bugs_pickle.py merge=ours
scripts/pylib/twister/twisterlib/environment.py merge=ours
scripts/pylib/twister/twisterlib/reports.py merge=ours
scripts/pylib/twister/twisterlib/runner.py merge=ours
scripts/pylib/twister/twisterlib/testsuite.py merge=ours
scripts/pylib/twister/twisterlib/twister_main.py merge=ours
scripts/release/bug_bash.py merge=ours
scripts/release/list_backports.py merge=ours
scripts/release/list_issues.py merge=ours
scripts/set_assignees.py merge=ours
scripts/support/quartus-flash.py merge=ours
scripts/tests/twister/test_testinstance.py merge=ours
scripts/tests/twister/test_testplan_class.py merge=ours
scripts/tests/twister/test_testsuite.py merge=ours
scripts/tracing/parse_ctf.py merge=ours
scripts/tracing/trace_capture_uart.py merge=ours
scripts/tracing/trace_capture_usb.py merge=ours
scripts/utils/migrate_includes.py merge=ours
scripts/utils/migrate_mcumgr_kconfigs.py merge=ours
scripts/utils/pinctrl_nrf_migrate.py merge=ours
scripts/west_commands/build.py merge=ours
scripts/west_commands/run_common.py merge=ours
scripts/west_commands/runners/mdb.py merge=ours
scripts/west_commands/tests/test_blackmagicprobe.py merge=ours
scripts/west_commands/tests/test_bossac.py merge=ours
scripts/west_commands/tests/test_canopen_program.py merge=ours
scripts/west_commands/tests/test_dediprog.py merge=ours
scripts/west_commands/tests/test_dfu_util.py merge=ours
scripts/west_commands/tests/test_gd32isp.py merge=ours
scripts/west_commands/tests/test_mdb.py merge=ours
scripts/west_commands/tests/test_nrfjprog.py merge=ours
scripts/west_commands/tests/test_pyocd.py merge=ours
scripts/west_commands/tests/test_stm32cubeprogrammer.py merge=ours
scripts/west_commands/tests/test_stm32flash.py merge=ours
scripts/zephyr_module.py merge=ours
soc/arm/silabs_exx32/Kconfig merge=ours
soc/arm/silabs_exx32/common/CMakeLists.txt merge=ours
soc/arm/silabs_exx32/common/pinctrl_soc.h merge=ours
soc/arm/silabs_exx32/common/soc.c merge=ours
soc/arm/silabs_exx32/common/soc_gpio.c merge=ours
soc/arm/silabs_exx32/common/soc_gpio.h merge=ours
soc/arm/silabs_exx32/common/soc_power.c merge=ours
soc/arm/silabs_exx32/efr32bg22/Kconfig.defconfig.efr32bg22 merge=ours
soc/arm/silabs_exx32/efr32bg22/Kconfig.defconfig.series merge=ours
soc/arm/silabs_exx32/efr32bg22/Kconfig.series merge=ours
soc/arm/silabs_exx32/efr32bg22/Kconfig.soc merge=ours
soc/arm/silabs_exx32/efr32bg22/linker.ld merge=ours
soc/arm/silabs_exx32/efr32bg22/soc.h merge=ours
soc/arm/ti_simplelink/cc13x2_cc26x2/Kconfig.soc merge=ours
subsys/bluetooth/controller/Kconfig merge=ours
subsys/logging/log_cache.c merge=ours
subsys/mgmt/mcumgr/grp/shell_mgmt/include/mgmt/mcumgr/grp/shell_mgmt/shell_mgmt_config.h merge=ours
subsys/mgmt/mcumgr/grp/stat_mgmt/include/mgmt/mcumgr/grp/stat_mgmt/stat_mgmt_config.h merge=ours
subsys/net/l2/wifi/wifi_mgmt.c merge=ours
subsys/net/lib/CMakeLists.txt merge=ours
subsys/net/lib/Kconfig merge=ours
subsys/net/lib/ping/CMakeLists.txt merge=ours
subsys/net/lib/ping/Kconfig merge=ours
subsys/net/lib/ping/ping.c merge=ours
subsys/net/lib/sockets/sockets_tls.c merge=ours
subsys/shell/modules/date_service.c merge=ours
subsys/shell/shell_help.c merge=ours
subsys/shell/shell_ops.c merge=ours
subsys/usb/device_next/CMakeLists.txt merge=ours
subsys/usb/device_next/class/Kconfig merge=ours
subsys/usb/device_next/class/usbd_cdc_acm.c merge=ours
subsys/usb/device_next/usbd_ch9.c merge=ours
subsys/usb/device_next/usbd_core.c merge=ours
subsys/usb/device_next/usbd_init.c merge=ours
tests/drivers/counter/counter_basic_api/boards/efm32pg_stk3402a.conf merge=ours
tests/drivers/counter/counter_basic_api/boards/tmo_dev_edge.conf merge=ours
tests/drivers/counter/counter_basic_api/src/test_counter.c merge=ours
tests/drivers/gpio/gpio_basic_api/boards/efm32pg_stk3402a.overlay merge=ours
tests/drivers/regulator/fixed/boards/efm32pg_stk3402a.overlay merge=ours
west.yml merge=ours
