# EFM32PG_STK3402A board

# Copyright (c) 2022, Silicon Labs
# Copyright (c) 2022 T-Mobile USA, Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_EFM32PG_STK3402A

module = BOARD_EFM32PG
module-str = Board Control
source "subsys/logging/Kconfig.template.log_config"

endif # BOARD_EFM32PG_STK3402A
