# TMO_DEV_EDGE board

# Copyright (c) 2022, Silicon Labs
# Copyright (c) 2023 T-Mobile USA, Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_TMO_DEV_EDGE

module = BOARD_TMO_EDGE
module-str = Board Control
source "subsys/logging/Kconfig.template.log_config"

endif # BOARD_TMO_DEV_EDGE
