# Copyright (c) 2022 T-Mobile USA, Inc.
# SPDX-License-Identifier: Apache-2.0

config I2C_GECKO
	bool "Gecko I2C driver"
	depends on HAS_SILABS_GECKO
	select SOC_GECKO_I2C
	help
	  Enable the SiLabs Gecko I2C bus driver.

config I2C_GECKO_XFER_TIMEOUT
	int "Gecko I2C semaphore timeout in MS"
	default 100
	range 1 30000
	depends on I2C_GECKO
	help
	  Timeout for the transfer semaphore in the Gecko I2C Driver
