name: "Manual Zephyr Upstream Mirror"

on: [workflow_dispatch]

jobs:
  mirror:
    runs-on: ubuntu-latest
    name: "Mirror Script"
    steps:
      - name: Script 
        run: |
          git="$( command -v git )"
          SOURCE="https://github.com/zephyrproject-rtos/zephyr.git"
          TARGET="https://${{ secrets.MIRROR_USER }}:${{ secrets.MIRROR_TOKEN }}@github.com/tmobile/DevEdge-IoTDevKit-ZephyrRTOS.git"

          ${git} clone --mirror "${SOURCE}" '/root/git/source' \
            && _pushd '/root/git/source' || exit 1
          ${git} remote add 'target' "${TARGET}"
          ${git} push -f --mirror 'target'
          _popd || exit 1
