name: "Manual Zephyr Upstream Mirror"

on: [workflow_dispatch]

jobs:
  mirror:
    runs-on: ubuntu-latest
    name: "Mirror Script"
    steps:
      - name: Script 
        run: |
          SOURCE="https://github.com/zephyrproject-rtos/zephyr.git"
          TARGET="https://${{ secrets.MIRROR_USER }}:${{ secrets.MIRROR_TOKEN }}@github.com/tmobile/DevEdge-IoTDevKit-ZephyrRTOS.git"

          git clone --mirror "${SOURCE}" './source' \
            && pushd './source'
          git remote add 'target' "${TARGET}"
          git push -f --mirror 'target'
          popd
